<div class="form-field">
  <label for="input-{{name}}" class="form-field__label">{{label}}</label>
  <input
    type="{{#if type}}{{type}}{{else}}text{{/if}}"
    id="input-{{name}}"
    placeholder="{{placeholder}}"
    class="form-field__input {{class}}"
    name="{{name}}"
    style="width: {{width}};"
  >
  {{#if helper-text}}
    <span class="form-field__helper-text">{{helper-text}}</span>
  {{/if}}
</div>
