<div class="{{styles.container}}">
  <div class="{{styles.user}}">
    {{{avatar}}}
    <span>{{title}}</span>
  </div>
  <div class="{{styles.controls}}">
    {{{addUserButton}}}
    {{{removeUserButton}}}
  </div>
</div>
