<label
  for="input-{{id}}"
  class="label"
>
  {{label}}
</label>
<input
  type="{{#if type}}{{type}}{{else}}text{{/if}}"
  id="input-{{id}}"
  placeholder="{{placeholder}}"
  class="input {{class}}"
>
