<form class="{{classList}}" id="{{name}}-form">
  {{#if title}}
    <h3>{{title}}</h3>
  {{/if}}
  {{{formFields}}}
  <div class="{{styles.buttonContainer}}">
    {{{cancelButton}}}
    {{{submitButton}}}
  </div>
</form>
