<div class="page-container">
  <main class="{{styles.container}}">
    <section class="{{styles.section}}">
      <picture>
        <source srcset="/images/logo.webp" type="image/webp" />
        <img src="/images/logo.png" alt="логотип летчат" />
      </picture>
      <h1 class="{{styles.title}}">Регистрация</h1>
      <div class="{{styles.helperText}}">
        Уже есть аккаунт?
        {{{signInLink}}}
      </div>
      {{{form}}}
    </section>
  </main>
</div>
