<header class="{{styles.container}}">
  {{{logoLink}}}
  <nav>
    <ul class="{{styles.navList}}">
      <li>{{{chatLink}}}</li>
      <li>{{{profileLink}}}</li>
      <li>{{{signinLink}}}</li>
      <li>{{{notLink}}}</li>
      <li>{{{errorLink}}}</li>
    </ul>
  </nav>
</header>
