<div class="page-container">
  {{{pageHeader}}}
  <main class="{{styles.container}}">
    <h1 class="visually-hidden">Страница профиля</h1>
    <div class="{{styles.profile}}">
      {{{avatarBtn}}}
      <h2 class="{{styles.username}}">{{username}}</h2>
      {{{button}}}
      {{{content}}}
    </div>
  </main>
</div>
