<!--suppress HtmlFormInputWithoutLabel -->
<div class="{{styles.container}}">
  <form class="{{class}}">
    {{{icon}}}
    <input class="{{styles.input}}" type="text" name="chat-search" id="chat-search" placeholder="Поиск чата">
  </form>
  {{{createBtn}}}
</div>
