<form class="{{classList}}">
  <label class="{{styles.label}}" for="message">Введите сообщение</label>
  {{{input}}}
  <button class="{{styles.attachBtn}}" type="button">
    {{{attachIcon}}}
  </button>
  {{{sentButton}}}
</form>
